*{padding:0px;
    margin:0px;
    box-sizing: border-box;
    }
    
    .nav{
        padding:20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:30px;
        background-color: cornflowerblue;
        
    }
    .nav p{
        font-size: 30px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        padding: 5px 15px;
        transition: all .5s;
       
    }
    .nav p:hover{
        background-color: black;
        color:white;
        cursor: pointer;
    
    }
    
    .active{
        background-color: lightpink;
        
    }
    #txt{
        font-size: 50px;
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    